---
siteTitle: Eleventy + Netlify CMS (CodingTheSmartWay Tutorial)
---
<html>
    <head>
        <title>{{ siteTitle }}</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <h1>{{ siteTitle }}</h1>
        {% block name %}
            {{ content | safe }}
        {% endblock %}
    </body>
</html>
